h1
{
	color: white;
}

body
{
	background: url("loqman-logo.png") no-repeat #25303a;
	background-size: 100px;
	background-position: 30px 50px;
	background-blend-mode: difference;
}

#cit
{
       max-width: 800px;
       width: 80%;
       margin: 0 auto;
       color: white;
       text-align: center;
       align-content: center;
       padding: 10px;

}

ul {
	padding: 0;
}
ul li
{
	list-style-type: none;
	text-align: center;
}
img:not(.photo)
{
	display: block;
	margin: 10px auto;
	width: 100%;
}
.photo {
	width: 70%;
}
.is-h2 {
	font-size: 24px;
}

@media (min-width: 767px) {
	.photo
	{
		width: 25%;
	}
}